<div class="row py-5 my-5 text-center">
    <i class="bi bi-journal-bookmark-fill" style="font-size: 5rem;"></i>
    <h1 class="display-5 fw-bold">BookKeeper</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Some text about this application's many features, the use cases as part of the sharing economy that it enables and the business value that users of the application can expect. Could also include a call to action to log in or could contain a rhetorical question. Wouldn't that be nice? </p>
        <div class="gap-3 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>
</div>

<h2 class="pb-2 border-bottom">Feature List</h2>
<div class="row py-2 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <div class="feature-icon mb-1">
            <i class="bi bi-chat-square-dots-fill" style="font-size: 2rem;"></i>
        </div>
        <h3 class="fs-3">Feature Number 1</h3>
        <p>Text explaining the specifics of the feature and how to use it, including details of how this improves the currently employed workflow.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
    </div>
    <div class="feature col">
        <div class="feature-icon mb-1">
            <i class="bi bi-chat-square-heart-fill" style="font-size: 2rem;"></i>
        </div>
        <h3 class="fs-3">Feature Number 2</h3>
        <p>Text explaining the specifics of the feature and how to use it, including details of how this improves the currently employed workflow.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
    </div>
    <div class="feature col">
        <div class="feature-icon mb-1">
            <i class="bi bi-chat-square-quote-fill" style="font-size: 2rem;"></i>
        </div>
        <h3 class="fs-3">Feature Number 3</h3>
        <p>Text explaining the specifics of the feature and how to use it, including details of how this improves the currently employed workflow.</p>
        <a href="#" class="icon-link d-inline-flex align-items-center">
            Call to action
            <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"></use></svg>
        </a>
    </div>
</div>
